# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Logs and runtime
*.log
logs/
*.pid
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Data & models
data/
models/
checkpoints/
artifacts/
outputs/

# DVC cache
.dvc/
.dvc/cache/

# ML experiment tracking
mlruns/
mlflow.db

# Test reports
htmlcov/
.coverage
.cache/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# VSCode & JetBrains
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Docker & build
*.tar
*.img
*.container
__build__/

# Other
*.bak
*.swp